$time-color: white;
$time-background-color: #2b2b2b;

$panel-border-color: #ccc;
$panel-border-color-secondary: #ccc;
$panel-arrow-color: #2b2b2b;
$panel-background-color: #2b2b2b;
$panel-headings-color: inherit;
$panel-text-color: white;
$panel-link-color: red;
$panel-border-width: 0px;
$panel-shadow: 4px 4px 30px rgba(0,0,0,0.1);

@import "master.scss";
