$breakpoint: 768px !default;

$time-color: white !default;
$time-background-color: orangered !default;

$panel-border-color: #ccc !default;
$panel-border-color-secondary: #ccc !default;
$panel-arrow-color: #ccc !default;
$panel-background-color: transparent !default;
$panel-headings-color: inherit !default;
$panel-text-color: inherit !default;
$panel-link-color: red !default;
$panel-border-width: 2px !default;
$panel-shadow: 4px 4px 30px rgba(0,0,0,0.1) !default;

// Content element type "ce_timeline"
.ce-timeline{

	h1,h2,h3,h4,h5,h6{
		&.center{
			text-align: center;
		}
		&.left{
			text-align: right;
		}
		&.right{
			text-align: left;
		}
	}

	.text-center{
		text-align: center;
	}

	.text-left{
		text-align: left;
	}

	.text-right{
		text-align: right;
	}

	.img-fluid{
		max-width: 100%;
		height: auto;
	}

	ul.ce-timeline-list {
		position: relative;
		padding: 1rem;
		margin: 0 auto;
		max-width: 1300px;
		list-style-type: none;

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 1px;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #999 10%, #999 90%, rgba(0,0,0,0) 100%);
			right: 40px;
			top: 0;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		@media screen and (min-width: $breakpoint) {
		    padding: 2rem;
		    &:before {
		      left: calc(50% - 1px);
		      right: auto;
		    }
	  	}
		li{
			padding: 1rem;
			border: $panel-border-width solid $panel-border-color;
			border-image: linear-gradient(to right, $panel-border-color-secondary 0%, $panel-border-color 100%);
			border-image-slice: 1;
			position: relative;
			margin: 1rem 3rem 1rem 1rem;
			clear: both;
			background-color: $panel-background-color;
			color: $panel-text-color;
			box-shadow: $panel-shadow;
			-moz-box-shadow: $panel-shadow;
			-webkit-box-shadow: $panel-shadow;

			h1,h2,h3,h4,h5,h6{
				color: $panel-headings-color;
			}

			a{
				color: $panel-link-color;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
			}

			&:before {
				right: -10px;
				top: calc(50% - 10px);
				border-style: solid;
				border-color: $panel-arrow-color $panel-arrow-color transparent transparent;
				border-width: 10px;
				transform: rotate(45deg);
			}

			@media screen and (min-width: $breakpoint) {
				width: 44%;
				margin: 1rem;
				&.align-1{
					float: right;
					margin: 1rem;
					border-image: linear-gradient(to right, $panel-border-color 0%, $panel-border-color-secondary 100%);
					border-image-slice: 1;
					&:before {
						right: auto;
						left: -10px;
						border-color:transparent transparent $panel-arrow-color $panel-arrow-color;
					}
				}
			}

			&.text{
				header{
					font-weight: bold;
				}
			}

			&.time {
				text-align: center;
				max-width: 160px;
				margin: 0 48px 0 auto;
				font-size: 1.2rem;
				font-weight: bold;
				color: $time-color;
				background-color: $time-background-color;
				padding: .2rem;
				border: none;

				&:before {
					display: none;
				}

				@media screen and (min-width: $breakpoint) {
					text-align: center;
					margin: 0 auto;
					padding: .5rem;
					&:nth-of-type(2n) {
						float: none;
						margin: 0 auto;
						border-image: none;
						&:before {
							display: none;
						}
					}
				}

			}

			&.gallery-width-50{
				.ce-timeline-text{
					width: 50%;
				}
				.ce-timeline-gallery{
					width: calc(50% - 10px);
				}
			}

			&.gallery-width-33{
				.ce-timeline-text{
					width: 66%;
				}
				.ce-timeline-gallery{
					width: calc(33% - 10px);
				}
			}

			&.text-image{
				// Default styles for gallery of all types
				.ce-timeline-gallery{
					display: block;
					flex: none;
					margin-bottom: 1rem;
					.ce-timeline-gallery-row{
						display: flex;
						flex-wrap: wrap;
						margin-top: -10px;
  						margin-left: -10px;
						.ce-timeline-image {
							width: calc(50% - 10px);
							margin-left: 10px;
							margin-top: 10px;
							img{
								max-width: 100%;
								height: auto;
							}
						}
						&.ce-timeline-columns-1{
							.ce-timeline-image {
								width: 100%;
							}
						}
						&.ce-timeline-columns-2{
							.ce-timeline-image {
								width: calc(50% - 10px);
							}
						}
						&.ce-timeline-columns-3{
							.ce-timeline-image {
								width: calc(33.333% - 10px);
							}
						}
						&.ce-timeline-columns-4{
							.ce-timeline-image {
								width: calc(25% - 10px);
							}
						}
						&.ce-timeline-columns-5{
							.ce-timeline-image {
								width: calc(20% - 10px);
							}
						}
						&.ce-timeline-columns-6{
							.ce-timeline-image {
								width: calc(16.6% - 10px);
							}
						}
						&.ce-timeline-columns-7{
							.ce-timeline-image {
								width: calc(14.28% - 10px);
							}
						}
						&.ce-timeline-columns-8{
							.ce-timeline-image {
								width: calc(12.5% - 10px);
							}
						}
					}
				}
				// Image position TOP
				&.layout-0{
					.ce-timeline-gallery{
						width: 100%;
					}
					.ce-timeline-text{
						width: 100%;
					}
				}
				// Image position BOTTOM
				&.layout-1{
					.ce-timeline-gallery{
						width: 100%;
					}
					.ce-timeline-text{
						width: 100%;
					}
				}
				// Image position LEFT
				&.layout-2{
					display: flex;
					.ce-timeline-gallery{
						margin-right: 20px;
						img{
							max-width: 100%;
						}
					}
				}
				// Image position RIGHT
				&.layout-3{
					display: flex;
					.ce-timeline-gallery{
						margin-left: 20px;
					}
				}
			}

			p{
				margin-bottom: 0;
			}

		}
	}
}
