<div class="row">
    <div class="col-md-12 CType">
        <b><f:translate key="LLL:EXT:ce_timeline/Resources/Private/Language/locallang.xlf:ce_title" /></b>
    </div>
</div>

<f:if condition="{timeline_entries} === 0">
    <f:then>
        <strong><f:translate key="LLL:EXT:ce_timeline/Resources/Private/Language/locallang.xlf:entries" />:</strong> <span class="badge badge-warning">{timeline_entries}</span>
    </f:then>
    <f:else>
        <strong><f:translate key="LLL:EXT:ce_timeline/Resources/Private/Language/locallang.xlf:entries" />:</strong> <span class="badge badge-success">{timeline_entries}</span>
    </f:else>
</f:if>
