<f:layout name="Timeline"/>

<f:section name="Main">

    <f:render partial="Header/Header" arguments="{header:data.header,layout:data.header_layout,positionClass:data.header_position}"/>
    <f:if condition="{data.bodytext}">
        <f:format.html>{data.bodytext}</f:format.html>
    </f:if>

    <ul class="ce-timeline-list">
        <f:for each="{entries}" as="entry">
            <f:switch expression="{entry.data.typeof}">
                <f:case value="0">
                    <f:render partial="Textblock" arguments="{entry:entry.data}"/>
                </f:case>
                <f:case value="1">
                    <f:render partial="Time" arguments="{entry:entry.data}"/>
                </f:case>
                <f:case value="2">
                    <f:render partial="TextImage" arguments="{entry:entry.data,media:entry.media}"/>
                </f:case>
                <f:case value="3">
                    <f:render partial="Html" arguments="{entry:entry.data}"/>
                </f:case>
            </f:switch>
        </f:for>
    </ul>

</f:section>
